@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

body {
  background: #232a48;
  color: #f6e9a6;
  font-family: "Nunito";
  margin: 0px;
}
a {
  color: #f6e9a6;
  text-decoration: none;
}
.content {
  width: 100%;
  margin: 0 auto;
}
nav {
  background: #181c2a;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
nav a {
  float: right;
  text-align: center;
  padding: 10px;
}
nav .logo {
  margin-right: 50px;
  display: flex;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #f6e9a6;
  border-top: 1px solid #eaeaea;
}

.not-found {
  text-align: center;
}

.not-found a {
  color: #4979ff;
  text-decoration: underline;
}

.searchBar {
  padding: 8px;
  border-radius: 30px;
  border: none;
  width: 1100px;
  height: 20px;
  font-size: 18px;
  text-align: flex-end;
  background-color: #3a4466;
  font-family: "Nunito";
  margin-bottom: 20px;
}

.main {
  display: flex;
}
/*
.sidebar {
  get margin top and bottom to stretch to container amount 
  display: block;
  background-color: #181c2a;
  padding: 10px;
  border: 1px solid #ddd;
}
*/
