.title {
  color: #f6e9a6;
  padding-bottom: 20px;
  text-align: center;
}

.text {
  color: #f6e9a6;
}

.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #2c334c;
  border-radius: 4px;
  color: #f6e9a6;
  text-align: center;
}

.tab {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0 auto;
  background: #232a48;
}
@media screen and (max-width: 1400px) {
  .tabSidebar {
    margin-left: 40%;
    margin-right: 10%;
    margin-top: 0 auto;
  }
  .menuBars {
    margin-top: -40px;
    margin-left: 3%;
    font-size: 1.5rem;
    background: none;
  }
}

@media screen and (min-width: 1400px) {
  .tabSidebar {
    margin-left: 30%;
    margin-right: 10%;
    margin-top: 0 auto;
  }
  .menuBars {
    margin-top: -40px;
    margin-left: 3%;
    font-size: 1.5rem;
    background: none;
  }
}
@media screen and (min-width: 1600px) {
  /* shows up on bottom of nav sometimes */
  .tabSidebar {
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 0 auto;
  }
  .menuBars {
    margin-top: -50px;
    margin-left: 3%;
    font-size: 1.5rem;
    background: none;
  }
}
@media screen and (min-width: 1900px) {
  .tabSidebar {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0 auto;
  }
  .menuBars {
    margin-top: -2%;
    margin-left: 3%;
    font-size: 1.5rem;
    background: none;
  }
}

.tabList {
  background-color: #181c2a;
  margin: 0px;
  padding-left: 0px;
  margin-top: 10px;
  border-top-left-radius: 8px;
  font-weight: 500;
  display: block;
  border-radius: 10px 10px 0px 0px;
  border-bottom: solid;
}

.tabSelected {
  background-color: #020205 !important;
  border-top-right-radius: 25px;
  border-radius: 10px 10px 0px 0px;
}
/*
.menuBars {
  margin-top: -2%;
  margin-left: 3%;
  font-size: 1.5rem;
  background: none;
}
*/
.checkbox {
  font-family: "Nunito";
}

.navMenu {
  background-color: #181c2a;
  width: 250px;
  height: 100vh;
  display: block;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
}

.navMenuActive {
  background-color: #181c2a;
  width: 250px;
  height: 100vh;
  display: block;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

.navbarToggle {
  background-color: #181c2a;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.sideText {
  color: #f6e9a6;
  font-size: 18px;
}

.checkbox label.sideText:hover {
  border-style: outset;
}

.head {
  border: 1px solid #3a4466;
  background-color: #3a4466;
  border-radius: 5px;
  border-width: medium;
  border-left-width: 5px;
  border-right-width: 5px;
  display: inline-block;
}
