.container {
  display: flex-start;
}
.title {
  color: #f6e9a6;
  padding-bottom: 20px;
  text-align: center;
}

.text {
  color: #f6e9a6;
}

.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #2c334c;
  border-radius: 4px;
  color: #f6e9a6;
  text-align: center;
}

.tab {
  margin-left: 30%;
  margin-top: 10px;
}

.tabList {
  background-color: green;
  margin-top: 10px;
  padding-left: 0px;
}

.tabSelected {
  background-color: #232a48;
}
/*
.sidebar {
  background-color: #232a48;
}
*/
