/* SIGNUP/LOGIN HEADERS */
.h1 {
color:#F6E9A6;
font-family: verdana;
font-size: 450%;
padding: 0%
}

/* SIGN IN WITH HEADERS */
.h2 {
color:#F6E9A6;
font-family: verdana;
font-size: 250%;
padding: 0%
}

/* ROUNDED TEXT BOXES */
.fname {
border-radius: 30px;
padding: 10px; 
width: 600px;
height: 50px;  
background-color: #3A4466;
color:#F6E9A6;
font-family:verdana;
font-size: 120%;
border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;
border-bottom-style: hidden;
margin-bottom: 20px;
}
.lname {
border-radius: 30px;
padding: 10px; 
width: 600px;
height: 50px;  
background-color:#3A4466;
color:#F6E9A6;
font-family:verdana;
font-size: 120%;
border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;
border-bottom-style: hidden;
margin-bottom: 20px;
}
.username {
border-radius: 30px;
padding: 10px; 
width: 600px;
height: 50px;  
background-color:#3A4466;
color:#F6E9A6;
font-family:verdana;
font-size: 120%;
border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;
border-bottom-style: hidden;
margin-bottom: 20px;
}
.email {
border-radius: 30px;
padding: 10px; 
width: 600px;
height: 50px;  
background-color:#3A4466;
color:#F6E9A6;
font-family:verdana;
font-size: 120%;
border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;
border-bottom-style: hidden;
margin-bottom: 20px;
}
.password {
border-radius: 30px;
padding: 10px; 
width: 600px;
height: 50px;  
background-color:#3A4466;
color:#F6E9A6;
font-family:verdana;
font-size: 120%;
border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;
border-bottom-style: hidden;
margin-bottom: 20px;
/* LEFT AND RIGHT MARGIN TO GET BUTTON ON NEXT LINE */
margin-left: 20px;
margin-right: 20px;
}

/* BUTTON SETTINGS */
.signup {
border-radius: 30px;
padding: 10px; 
width: 180px;
height: 60px;  
background-color: #595f71;
color:#F6E9A6;
font-family:verdana;
font-size: 120%;
text-align:center;
border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;
border-bottom-style: hidden;
}
.login {
border-radius: 30px;
padding: 10px; 
width: 170px;
height: 60px;  
background-color: #595f71;
color:#F6E9A6;
font-family:verdana;
font-size: 120%;
text-align:center;
border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;
border-bottom-style: hidden;
}

/* STAY IN BUTTON */
.stayinbutton {
transform: scale(1.7);
margin-left: 200px;
}
.body {
text-align: center;
margin-top: 100px;
margin: 0;
}
.stayintext {
color:#F6E9A6;
margin-right: 200px;
}
        
/* FORGOT PASSWORD */
.forgotpass {
color:#F6E9A6;
font-family:verdana;
font-size: 120%;
}

/* SIDE BY SIDE */
.splitscreen {
display:flex;
font-size: 120%;

}
.splitscreen .left {
flex: 1;
}
.splitscreen .right {
flex: 1;
}

/* BODY SETTINGS */
.body {
background-color:#232A48;
padding: 0px 0;
}
        
/* TOP BAR SETTINGS */
.topnav {
overflow: hidden;
background-color: #181C2A;
}

.topnav a {
float: center;
color: #97883C;
text-align: center;
padding: 50px 50px;
text-decoration: none;
font-size: 60px;
}
        
/* BACKGROUND BLOCKS */
/* SIGN UP BOX */
.shape1{
    text-align:center;
    background:
    linear-gradient(0deg , #2C334C,#2C334C) 0px 0 no-repeat,
    linear-gradient(0deg , #2C334C,#2C334C) 0px 0 no-repeat;
    width:680px;
    height:880px;
    line-height:60px;
    padding:10px 40px;
    color:white;
    margin: 20px 0px;
    position:relative;
    border-radius: 40px;
}
    /* LOGIN BOX */
.shape2{
    text-align:center;
    background:
    linear-gradient(0deg , #2C334C,#2C334C) 0px 0 no-repeat,
    linear-gradient(0deg , #2C334C,#2C334C) 0px 0 no-repeat; 
    width:680px;
    height:880px;
    line-height:60px;
    padding:10px 40px;
    color:white;
    margin: 20px 20px;
    position:relative;
    border-radius: 40px;
}

/* PICTURE SETTINGS */
.signinwithpics{
    width: 102px;
    height: 102px;
}