/* SIGNUP/LOGIN HEADERS */
.h1 {
  color: #f6e9a6;
  font-family: verdana;
  font-size: 450%;
  padding: 0%;
}

/* SIGN IN WITH HEADERS */
.h2 {
  color: #f6e9a6;
  font-family: verdana;
  font-size: 250%;
  padding: 0%;
}

/* ROUNDED TEXT BOXES */
.fname {
border-radius: 24px;
padding: 1.5%; 
width: 90%;
height: 40px;  
background-color: #3A4466;
color:#F6E9A6;
font-family:verdana;
font-size: 96%;
border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;
border-bottom-style: hidden;
margin-bottom: 4%;
}
.lname {
border-radius: 24px;
padding: 1.5%; 
width: 90%;
height: 40px;  
background-color: #3A4466;
color:#F6E9A6;
font-family:verdana;
font-size: 96%;
border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;
border-bottom-style: hidden;
margin-bottom: 4%;
}
.username {
border-radius: 24px;
padding: 1.5%; 
width: 90%;
height: 40px;  
background-color: #3A4466;
color:#F6E9A6;
font-family:verdana;
font-size: 96%;
border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;
border-bottom-style: hidden;
margin-bottom: 4%;
}
.email {
border-radius: 24px;
padding: 1.5%; 
width: 90%;
height: 40px;  
background-color: #3A4466;
color:#F6E9A6;
font-family:verdana;
font-size: 96%;
border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;
border-bottom-style: hidden;
margin-bottom: 4%;

}

.password {
border-radius: 24px;
padding: 1.5%; 
width: 90%;
height: 40px;  
background-color: #3A4466;
color:#F6E9A6;
font-family:verdana;
font-size: 96%;
border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;
border-bottom-style: hidden;
margin-bottom: 4%;
}

/* BUTTON SETTINGS */
.signup {
border-radius: 24px;
padding: 8px; 
width: 25%;
height: 48px;  
background-color: #595f71;
color:#F6E9A6;
font-family:verdana;
font-size: 96%;
text-align:center;
border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;
border-bottom-style: hidden;
}
.login {
border-radius: 24px;
padding: 8px; 
width: 25%;
height: 48px;  
background-color: #595f71;
color:#F6E9A6;
font-family:verdana;
font-size: 96%;
text-align:center;
border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;
border-bottom-style: hidden;
}

/* STAY IN BUTTON */
.stayinbutton {
transform: scale(1.36);
margin-left: 28%;
}
.body {
text-align: center;
margin: 0;
}
.stayintext {
color:#F6E9A6;
margin-right: 28%;
}

/* FORGOT PASSWORD */
.forgotpass {
  color: #f6e9a6;
  font-family: verdana;
  font-size: 120%;
}

/* SIDE BY SIDE */
.splitscreen {
display:flex;
font-size: 96%;
justify-content: center;
height:77%;
}

.splitscreen .left {
  flex: 1;
}
.splitscreen .right {
  flex: 1;
}

/* BODY SETTINGS */
.body {
  background-color: #232a48;
  padding: 0px 0;
}

/* TOP BAR SETTINGS */
.topnav {
  overflow: hidden;
  background-color: #181c2a;
}

.topnav a {
  float: center;
  color: #97883c;
  text-align: center;
  padding: 50px 50px;
  text-decoration: none;
  font-size: 60px;
}

/* BACKGROUND BLOCKS */
/* SIGN UP BOX */
.shape1{
    text-align:center;
    background:
    linear-gradient(0deg , #2C334C,#2C334C) 0px 0 no-repeat,
    linear-gradient(0deg , #2C334C,#2C334C) 0px 0 no-repeat;
    width: 35%;
    height: 704px;
    line-height:48px;
    padding:10px 40px;
    color:white;
    margin: 35px 40px;
    position:relative;
    border-radius: 36px;
    box-shadow: 0px 0px 40px 5px #3d4564;
}
    /* LOGIN BOX */
.shape2{
    text-align:center;
    background:
    linear-gradient(0deg , #2C334C,#2C334C) 0px 0 no-repeat,
    linear-gradient(0deg , #2C334C,#2C334C) 0px 0 no-repeat;
    width: 35%;
    height: 704px;
    line-height:48px;
    padding:10px 40px;
    color:white;
    margin: 35px 40px;
    position:relative;
    border-radius: 36px;
    box-shadow: 0px 0px 40px 5px #3d4564;
}

/* PICTURE SETTINGS */
.signinwithpics{
    width: 15%;
    height: 15%;
}


/* 

/* SIGNUP/LOGIN HEADERS 
.h1 {
    color:#F6E9A6;
    font-family: verdana;
    font-size: 270%;
    padding: 0%
    }
    
    /* SIGN IN WITH HEADERS 
    .h2 {
    color:#F6E9A6;
    font-family: verdana;
    font-size: 150%;
    padding: 0%
    }
    
    /* ROUNDED TEXT BOXES 
    .fname {
    border-radius: 18px;
    padding: 10px; 
    width: 360px;
    height: 30px;  
    background-color: #3A4466;
    color:#F6E9A6;
    font-family:verdana;
    font-size: 72%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    margin-bottom: 12px;
    }
    .lname {
    border-radius: 18px;
    padding: 10px; 
    width: 360px;
    height: 30px;  
    background-color: #3A4466;
    color:#F6E9A6;
    font-family:verdana;
    font-size: 72%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    margin-bottom: 12px;
    }
    .username {
    border-radius: 18px;
    padding: 10px; 
    width: 360px;
    height: 30px;  
    background-color: #3A4466;
    color:#F6E9A6;
    font-family:verdana;
    font-size: 72%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    margin-bottom: 12px;
    }
    .email {
    border-radius: 18px;
    padding: 10px; 
    width: 360px;
    height: 30px;  
    background-color: #3A4466;
    color:#F6E9A6;
    font-family:verdana;
    font-size: 72%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    margin-bottom: 12px;
    }
    .password {
    border-radius: 18px;
    padding: 10px; 
    width: 360px;
    height: 30px;  
    background-color: #3A4466;
    color:#F6E9A6;
    font-family:verdana;
    font-size: 72%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    margin-bottom: 12px;
    }
    
    /* BUTTON SETTINGS 
    .signup {
    border-radius: 18px;
    padding: 8px; 
    width: 108px;
    height: 36px;  
    background-color: #595f71;
    color:#F6E9A6;
    font-family:verdana;
    font-size: 72%;
    text-align:center;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    }
    .login {
    border-radius: 18px;
    padding: 8px; 
    width: 108px;
    height: 36px;  
    background-color: #595f71;
    color:#F6E9A6;
    font-family:verdana;
    font-size: 72%;
    text-align:center;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    }
    
    /* STAY IN BUTTON 
    .stayinbutton {
    transform: scale(1.02);
    margin-left: 150px;
    }
    .body {
    text-align: center;
    margin-top: 86px;
    margin: 0;
    }
    .stayintext {
    color:#F6E9A6;
    margin-right: 120px;
    }
            
    /* FORGOT PASSWORD 
    .forgotpass {
    color:#F6E9A6;
    font-family:verdana;
    font-size: 72%;
    }
    
    /* SIDE BY SIDE 
    .splitscreen {
    display:flex;
    font-size: 72%;
    justify-content: center;
    
    }
    .splitscreen .left {
    flex: 1;
    }
    .splitscreen .right {
    flex: 1;
    }
    
    /* BODY SETTINGS 
    .body {
    background-color:#232A48;
    padding: 0px 0;
    }
            
    /* TOP BAR SETTINGS 
    .topnav {
    overflow: hidden;
    background-color: #181C2A;
    text-align: center;
    }
    
    .topnav a {
    float: center;
    color: #97883C;
    text-align: center;
    padding: 37.5px 37.5px;
    text-decoration: none;
    font-size: 36px;
    }
             */